<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <%= javascript_include_tag "jquery-1.3.2", 'application' %>
    <%= javascript_include_tag :defaults%>
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId  : 297512602099,
          status : true, // check login status
          cookie : true, // enable cookies to allow the server to access the session
          xfbml  : true  // parse XFBML
        });
      };

      (function() {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
    <div class="hp_main" style="font-family:arial;font-size:16px">
      <div class="hp_header">
        <div style="float:left;width:120px">
          <%= image_tag "mahala_logo.png", :width=>120 %>
        </div>
        <div style="margin-left:30px;margin-top:15px;float:left;width:300px">
          <div style="height:70px;width:300px;font-size:24px;font-family:'arial';vertical-align:middle">Welcome <%=@fb_user.first_name unless @fb_user == nil %></div>
        </div>
      </div>
      <div style="clear: both;"></div>
      <div class="hp_main">
        <div >
          Thanks for joining Mahala Artists. We will post to your facebook newsfeed when we have your new tracks availalbe on the site.
        </div>
        <br />
        <div>
          Allow Mahala to post to these pages: <br />
          <% this_artist_pages = "" %>
          <%Page.find(:all, :select => 'pages.*' , :joins => 'inner join artist_pages AP on AP.page_id = pages.page_id', :conditions=>'AP.artist_id  = ' + @hp_user.fb_user_id.to_s).each do |p|%>
           <% this_artist_pages += p.page_id.to_s + ',' %>
            <%= check_box_tag("allow_admin",p.page_id,p.allow, :width=>"25px", :class=>'allow_page_admin') %>
            <img src="http://graph.facebook.com/<%=p.page_id%>/picture" width="30" /><%=p.name%> <br />
          <%end%>
        </div>
        <br />
        <div>
          Get updates from these pages: <br />
          <%Page.find(:all,:select=> 'distinct pages.*, PPP.publish_page_id as allow',:joins=>'left join page_publish_pages PPP on pages.page_id = PPP.publish_page_id', :conditions=>'pages.page_id not in ( ' +this_artist_pages.chomp(',')+')').each do |p|%>
            <%= check_box_tag("allow",p.page_id,p.allow!=nil, :width=>"25px", :class=>'allow_page_check') %>
            <img src="http://graph.facebook.com/<%=p.page_id%>/picture" width="30" /><%=p.name%> <br />
          <%end%>
        </div>
        <br />
        <%= text_field_tag 'post_text' ,'', :id=>'post_text'%>
        <%= submit_button "post",:class=>'submit_act', :id=>'post'%>
        <br />
      </div>
    </div>
  </body>
</body>
</html>

<script typ="text/javascript">
  $('.allow_page_check').live('click', function() {
    $.ajax({
      type: 'post',
      data: {
        "artist_id" : <%=@fb_user.id%>,
        "page_id" :$(this).val(),
        "allow" : $(this).attr('checked')
      },
      url: '/allow_page',
      success: function(p) {
        
      },
      error: function(p) {
        alert('an error occured');
      }
    });
  });
  $('.allow_page_admin').live('click', function() {
    $.ajax({
      type: 'post',
      data: {
        "artist_id" : <%=@fb_user.id%>,
        "page_id" :$(this).val(),
        "allow" : $(this).attr('checked')
      },
      url: '/allow_page_admin',
      success: function(p) {
        
      },
      error: function(p) {
        alert('an error occured');
      }
    });
  });
  
  $(document).ready(function() {

    //FB.getLoginStatus(function(response) {
   //   if (response.session) {
   //     alert(response);
    //  } else {
    //    alert('no user session available, someone you dont know');
    //  }
    //});

    $('#post').live('click', function() {
      $.ajax({
        type: 'post',
        data: {"text" : $('#post_text').val()},
        url: '/facebook/post_to_newsfeed',
        success: function(p) {
          alert('success');
        },
        error: function(p) {
          alert('an error occured');
        }
      });
      return false;
    });

  });

  function graphStreamPublish(){
    alert('y');
    var body = 'Reading New Graph api & Javascript Base FBConnect Tutorial';
    FB.api('/me/feed', 'post', { message: body }, function(response) {
      if (!response || response.error) {
        alert('Error occured');
      } else {
        alert('Post ID: ' + response.id);
      }
    });
  }


  function d() {
    alert('y');
    var body = 'Reading Connect JS documentation';
    FB.api('/me/feed', 'post', { message: body }, function(response) {
      if (!response || response.error) {
        alert('Error occured');
      } else {
        alert('Post ID: ' + response);
      }
    });

  }


</script>